body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hidden {
    display: none;
}

.emojis-container {
    width: 250px;
    height: 300px;
    overflow: scroll;
}

.category-goto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.emoji-search {
    width: 100%;
    margin-top: 5px;
}

.emoji-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.emoji {
    cursor: pointer;
    margin: 3px;
    transition: all .2s ease-in-out;
}

.emoji:hover {
    transform: scale(1.1);
}
